<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulaire billet</title>
</head>
<body>
  <h1>Formulaire billet</h1>
  <p>pensé à regarder le traffic réseau avec la console web pour voir les différences entre les verbes (méthode) HTTP</p>
  <section>
     <h1>Formulaire avec POST</h1>
    <form action="/ajoute_billet" method="post">
      <p>
        <label for="titre">Titre</label>
        <input name="titre">
      </p>
      <p>
        <label for="contenue">Contenu</label>
        <textarea name="contenu"></textarea>
      </p>
      <input type="submit">
    </form>
  </section>

  <section>
    <h1>Formulaire avec GET</h1>
   <form action="/ajoute_billet" method="get">
     <p>
       <label for="titre">Titre</label>
       <input name="titre">
     </p>
     <p>
       <label for="contenue">Contenu</label>
       <textarea name="contenu"></textarea>
     </p>
     <input type="submit">
   </form>
 </section>

 <section>
  <h1>Formulaire avec JavaScript</h1>
 <form action="/ajoute_billet" id="formWithJavaScript">
   <p>
     <label for="titre">Titre</label>
     <input name="titre">
   </p>
   <p>
     <label for="contenue">Contenu</label>
     <textarea name="contenu"></textarea>
   </p>
   <input type="submit" id="submitForm">
 </form>
</section>

<script>
  let submitForm = document.getElementById("submitForm")
  submitForm.addEventListener("click", function (evenement) {
    evenement.preventDefault();
    console.log(evenement, "click !")

    // https://developer.mozilla.org/fr/docs/Web/Guide/AJAX/Getting_Started
    httpRequest = new XMLHttpRequest();
    httpRequest.open('GET', '/ajoute_billet');
    httpRequest.send();
    httpRequest.onreadystatechange = function() {
      if (httpRequest.readyState === XMLHttpRequest.DONE) {
        // instructions de traitement de la réponse
        console.log("dans onreadystatechange ", httpRequest.readyState)
        window.location = "/";
      }
    };
  })

</script>
</body>
</html>